<config>
	<modules>
		<Cansilia_Rp>
			<version>0.1.0</version>
		</Cansilia_Rp>
	</modules>
	<global>
        <blocks>
            <checkout>
                <rewrite>
                    <cart_coupon>Cansilia_Rp_Block_Checkout_Cart_Rps</cart_coupon>
                </rewrite>
            </checkout>
        </blocks>
    	<helpers>
    		<rp>
    			<class>Cansilia_Rp_Helper</class>
    		</rp>
    	</helpers>
		<models>
			<rp>
				<class>Cansilia_Rp_Model</class>
			</rp>
		</models>
		<resources>
            <rp_setup>
                <setup>
                    <module>Cansilia_Rp</module>
                    <class>Cansilia_Rp_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rp_setup>
            <rp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rp_write>
            <rp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rp_read>
        </resources>
        <events>             
            <sales_order_place_after>
                <observers>
                  <cansilia_rp_sales_observer>
                    <type>singleton</type>
                    <class>Cansilia_Rp_Model_Sales_Observer</class>
                    <method>sales_order_place_after</method>
                  </cansilia_rp_sales_observer>
                </observers>
            </sales_order_place_after>  
            <review_save_after>
                <observers>
                  <cansilia_rp_sales_observer>
                    <type>singleton</type>
                    <class>Cansilia_Rp_Model_Sales_Observer</class>
                    <method>review_save_after</method>
                  </cansilia_rp_sales_observer>
                </observers>
            </review_save_after>
            <sendfriend_product>
                <observers>
                  <cansilia_rp_sales_observer>
                    <type>singleton</type>
                    <class>Cansilia_Rp_Model_Sales_Observer</class>
                    <method>sendfriend_product</method>
                  </cansilia_rp_sales_observer>
                </observers>
            </sendfriend_product>
             <customer_register_success>
                <observers>
                  <cansilia_rp_sales_observer>
                    <type>singleton</type>
                    <class>Cansilia_Rp_Model_Sales_Observer</class>
                    <method>customer_register_success</method>
                  </cansilia_rp_sales_observer>
                </observers>
            </customer_register_success>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <rp_amount><to_order>*</to_order></rp_amount>
                <base_rp_amount><to_order>*</to_order></base_rp_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                 <rp_amount>
                    <to_quote>*</to_quote>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </rp_amount>
                 <base_rp_amount>
                    <to_quote>*</to_quote>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </base_rp_amount>
            </sales_convert_order>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <product_rp />
                    </product_attributes>
                </item>
                <totals>
                    <rp>
                        <class>rp/sales_quote_address_total_rp</class>
                    </rp>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <rp>
                        <class>rp/sales_order_invoice_total_rp</class>
                    </rp>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <rp>
                        <class>rp/sales_order_creditmemo_total_rp</class>
                    </rp>
                </totals>
            </order_creditmemo>
        </sales>
	</global>
	<frontend>
        <routers>
            <rp>
                <use>standard</use>
                <args>
                    <module>Cansilia_Rp</module>
                    <frontName>rps</frontName>
                </args>
            </rp>
        </routers>
		<layout>
			<updates>
				<rp>
					<file>rp.xml</file>
				</rp>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<rp>
					<file>rp.xml</file>
				</rp>
			</updates>
		</layout>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rp_options>
                                            <title>Reward Points Options Section</title>
                                        </rp_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
    <default>
        <rp_options>
            <general_config>
                <reward_points_price>0.1</reward_points_price>
                <reward_points_limit>250000</reward_points_limit>
                 <reward_can_apply_total>0</reward_can_apply_total>
            </general_config>
            <on_review_config>
                <on_review_reward_points>10</on_review_reward_points>
            </on_review_config>
            <on_email_friend>
                <on_email_reward_points>10</on_email_reward_points>
            </on_email_friend>
            <on_customer_register>
                <on_register_reward_points>10</on_register_reward_points>
            </on_customer_register>
        </rp_options>
    </default>
</config>